footer {
  height: 100px; /* устанавливаем высоту подвала */
  position: fixed; /* устанавливаем фиксированную позицию */
  bottom: 0; /* устанавливаем подвал внизу страницы */
  width: 100%; /* устанавливаем ширину подвала */
}