<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="/static/pict/product/Nike/Nike_small/Lebron_11.png" alt="Товар 1" class="card-img">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">{{good}}</h3>
                <p class="card-text">Описание товара</p>
                <div class="form-group">
                    <label for="quantity">Количество:</label>
                    <input type="number" class="form-control" id="quantity" min="1" max="10" value="1">
                </div>
                <button type="button" class="btn btn-danger">Удалить</button>
            </div>
        </div>
    </div>
</div>
