<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="static/css/footer.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    {% block body %}{% endblock %}
  </div>
  <footer class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="mb-0">Контакты:</p>
          <p class="mb-0">Телефон: +7 (951) 668-24-51</p>
          <p>Электронная почта: sebaboytsov@gmail.com</p>
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </footer>
</body>
</html>