{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block body %}
<link rel="stylesheet" type="text/css" href="static/css/main.css">
<div class="product">
    <div class="product-image">
        <img src="/static/pict/product/" alt="Product Image">
    </div>
    <div class="product-details">
        <div class="product-header">
            <h1 class="product-title">"" 11</h1>
            <p class="product-brand">""</p>
        </div>
        <div class="product-body">
            <div class="product-price">
                <span class="price-regular">""</span>
                <span class="price-sale">""</span>
            </div>
            <p class="product-description">""</p>
            <ul class="product-features">
                <li>Бренд: ""</li>
                <li>Модель: ""</li>
                <li>Цвет: ""</li>
                <li>Материал Вверх: ""</li>
                <li>Материал низ: ""</li>
                <li>Размер: ""</li>
                <li>Описание: ""
                </li>
            </ul>
        </div>
        <div class="product-footer">
            <button class="add-to-cart">Оплатить</button>
        </div>
    </div>
</div>

{% endblock %}